@import 'tailwindcss';
/* tailwind v4 默认使用媒体查询（只看系统的深色主题是否开启），所以手动写一个变体让逻辑重新变成读取元素的 class 是否存在 .dark */
@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

@theme {
	--font-sans:
		system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
	--background: #ffffff;
	--foreground: #09090b; /* Zinc-950 */

	--card: #ffffff;
	--card-foreground: #09090b;

	--popover: #ffffff;
	--popover-foreground: #09090b;

	--primary: #18181b; /* Zinc-900 */
	--primary-foreground: #fafafa; /* Zinc-50 */

	--secondary: #f4f4f5; /* Zinc-100 */
	--secondary-foreground: #18181b;

	--muted: #f4f4f5;
	--muted-foreground: #71717a; /* Zinc-500 */

	--accent: #f4f4f5;
	--accent-foreground: #18181b;

	--destructive: #ef4444;
	--destructive-foreground: #fafafa;

	--border: #e4e4e7; /* Zinc-200 */
	--input: #e4e4e7;
	--ring: #18181b;

	--radius: 0.5rem;
}

.dark {
	--background: #09090b; /* Zinc-950 */
	--foreground: #fafafa; /* Zinc-50 */

	--card: #09090b;
	--card-foreground: #fafafa;

	--popover: #09090b;
	--popover-foreground: #fafafa;

	--primary: #fafafa;
	--primary-foreground: #18181b;

	--secondary: #27272a; /* Zinc-800 */
	--secondary-foreground: #fafafa;

	--muted: #27272a;
	--muted-foreground: #a1a1aa; /* Zinc-400 */

	--accent: #27272a;
	--accent-foreground: #fafafa;

	--destructive: #7f1d1d;
	--destructive-foreground: #fafafa;

	--border: #27272a;
	--input: #27272a;
	--ring: #d4d4d8;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
